<div class="np-dashboard-resources-container">
  <div class="np-zero-state-text">
    {{ message }}
  </div>
  <img class="np-zero-state-courses" alt="{{ message }}" />
  <a href="https://academy.csnews.com/app/catalog"><button class="course-btn-select is-active join-course-btn">Start a Course</button></a>
</div>
