<div class="np-card np-search-zero-state">
  <div class="np-card-container">
    <div class="np-card-content np-card-content-vertical np-search-zero-state-card">
      <h3 class="np-search-zero-state-title">
        {% t .nothing_found %}
      </h3>
      <div class="np-search-zero-state-subtitle">
        {% t .empty %}
      </div>
      <div class="np-search-zero-state-image"></div>
    </div>
  </div>
</div>
