<div class="np-card-training-session-date">
  <div class="np-button-background-color np-card-training-session-date-bar"></div>
  <div class="np-card-training-session-date-day">
    {{ training_session.day }}
  </div>
  <div>
    <div class="np-card-training-session-date-month">
      {{ training_session.month }}
    </div>
    <div class="np-card-training-session-date-year">
      {{ training_session.year }}
    </div>
  </div>
</div>
