<div class="np-dashboard-resources">
  {% if training_events.enrolled.any? %}
    {% for training_event in training_events.enrolled %}
      {% include "cards_training_event" with training_event %}
    {% endfor %}
  {% else %}
    {% include "training_events_zero_state" %}
  {% endif %}
</div>
