<main class="np-box-container">
  <div class="np-box">
    {% include "header_minimal" %}
    <div class="np-box-content-container">
      <form class="np-form np-box-content" action="{% route forgot_password_create %}" method="post" novalidate>
        {% form_authenticity_token %}
        <div class="np-form-field">
          <label class="np-input-label" for="learner_email">
            {% t shared.email_address %}
          </label>
          <input
            autofocus="autofocus"
            class="np-input"
            id="learner_email"
            name="learner[email]"
            type="email"
          >
        </div>
        <button type="submit" class="np-button np-button-big np-button-large-font np-form-action">
          {% t .button_label %}
        </button>
      </form>
    </div>
  </div>
</main>
