<main class="np-box-container">
  <div class="np-box">
    {% include "header_minimal" %}
    <div class="np-box-content-container">
      <form class="np-form np-box-content" method="post" action="{% route forgot_password_create %}">
        <input type="hidden" name="_method" value="put">
        <input
          type="hidden"
          value="{{ reset_password_token }}"
          name="learner[reset_password_token]"
          id="learner_reset_password_token"
        >
        {% form_authenticity_token %}
        <div class="np-form-field">
          <label class="np-input-label" for="learner_password">
            {% t .new_password %}
          </label>
          <input
            class="np-input"
            autofocus="autofocus"
            type="password"
            name="learner[password]"
            id="learner_password"
          >
        </div>
        <div class="np-form-field">
          <label class="np-input-label" for="learner_password_confirmation">
            {% t .confirm_new_password %}
          </label>
          <input
            class="np-input"
            type="password"
            name="learner[password_confirmation]"
            id="learner_password_confirmation"
          >
        </div>
        <button type="submit" class="np-button np-button-big np-form-action">
          {% t .change_password %}
        </button>
      </form>
    </div>
  </div>
</main>
